<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1029381572416-gi7a5gvm77r7gg72c8bhf5dar5684pm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029381572416-gi7a5gvm77r7gg72c8bhf5dar5684pm0</string>
	<key>API_KEY</key>
	<string>AIzaSyAHE1HH2IGc8cU8CTgg4qEft9_YMAqu5t8</string>
	<key>GCM_SENDER_ID</key>
	<string>1029381572416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.msl.utaastu</string>
	<key>PROJECT_ID</key>
	<string>utaa-stu</string>
	<key>STORAGE_BUCKET</key>
	<string>utaa-stu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029381572416:ios:58586ee8ff5757cf</string>
	<key>DATABASE_URL</key>
	<string>https://utaa-stu.firebaseio.com</string>
</dict>
</plist>